page-register {
    .image-back {
        background: url('../assets/imgs/background.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
