page-register-card-reminder {
    .slide4 {
        background: url('../assets/imgs/slide4.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

}
