<ion-header>

    <ion-navbar>
      <ion-title>Autorização <br> de {{operation}} </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content no-padding class="bg-style">
    <ion-grid>
  
      <ion-row>
        <ion-col *ngIf="operation != 'Transferência'" col-4 text-center>
          <h5>Parcelas</h5>
          <button ion-button color="light" outline (click)=showRadio()>{{parcela}}</button>
        </ion-col>
        <ion-col *ngIf="operation == 'Transferência'" col-12 text-center>
          <h1>R$ {{showBillingValue}}</h1>
        </ion-col>
        <ion-col *ngIf="operation != 'Transferência'" col-8 text-center>
          <h1>R$ {{showBillingValue}}</h1>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <h3 text-center>{{information.name}}</h3>
          <!-- <h5 text-center >{{identification}}</h5>
          <button ion-button block secondary (click)="displayIdentificationModal()">Alterar identificador</button> -->
          <p text-center *ngIf=!information.name>Não foi encontrado nenhum usuário! Consulte por outro identificador ou verifique se este está correto.</p>
          <p text-center *ngIf=information.bloqueado>Usuário bloqueado! A transação não pode ser autorizada.</p> 
        </ion-col>
      </ion-row>
  
      <ion-grid *ngIf="information.name && !information.bloqueado">
        
        <ion-row *ngIf="operation != 'Transferência'">
  
          <ion-slides pager (ionSlideDidChange)="changePasswordLabel()" (ionSlideReachEnd)="newCardModal()">
            <ion-slide *ngFor="let card of cards">
              <img [src]="card['mediaUrl']">
              <p>{{card.bandeira}} {{card.numero}} <br> {{card.tipoCartao}}</p>
            </ion-slide>
          </ion-slides>
  
        </ion-row>
  
        <ion-row>
          <ion-col col-12>
            <ion-item class="item-content">
              <ion-label text-center stacked>{{passwordLabel}}</ion-label>
              <ion-input text-center [(ngModel)]=password type=password  disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col col-12>
            <button class="botao-numero" no-lines ion-button *ngFor="let n of numbers" color="payplug" outline (click)="pressedButton(n.value)">
              {{n.value}}
            </button>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col col-6>
            <button ion-button full color="danger" round (click)="clearPasswordInput()">Limpar</button>
          </ion-col>
          <ion-col col-6>
              <button ion-button full color="secondary" round (click)="operation == 'Transferência'? doTransfer() : doBilling()">Concluir</button>
            </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-grid>
  </ion-content>
  