page-billing-authorization {
    .botao-numero {
        width: 18.50%;
        font-size: 150%;
    }

    h1 {
        font-size:3em;
    }

    .item-md, .item-ios {
        padding-left: 0px;
    }
}
