<ion-header>
  <ion-navbar color=blue-payplug>
    <ion-title>
      <h2 ion-text color="light">Olá, {{firstName}}</h2>
    </ion-title>
    <ion-buttons end>
      <button color=light ion-button small icon-only outline (click)="open('MessagesPage')">
        <ion-icon name="text"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-grid class="my-subheader">
    <ion-row>
      <ion-col text-center text-uppercase>
        <p no-margin ion-text color=gray-payplug-3>MEU CARRINHO</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p text-center>ESCOLHA PELA OPÇÃO DO FRETE CLICANDO NO ÍCONE INDICADO. PARA EXCLUIR UM PRODUTO DA SUA LISTA, CLIQUE NA LIXEIRA.</p>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button (click)="showPrompt()" full class="ship-button" padding-vertical ion-button text-wrap color="orange-payplug">ENTREGAR EM OUTRO ENDEREÇO</button>
      </ion-col>
      <ion-col col-8 style="margin-top: 2%">
        <p no-margin style="font-size: 50%;">ENDEREÇO INFORMADO PARA ENTREGA</p>
        <p no-margin style="font-size: 70%">RUA BRASÍLIO ITIBERÊ, 1812, Apt 221, Curitiba/PR</p>
      </ion-col>
    </ion-row>
    <div *ngFor="let shop of shops">
      <ion-row>
        <ion-col col-4>
          <button color="gray-payplug-3" class="ship-button" ion-button full icon-start>
            <ion-icon name="basket"></ion-icon>
            VER LOJA
          </button>
        </ion-col>
        <ion-col style="margin-top: 3%; height: 27px" col-sm-8 class="item-header">
          <p style="font-size: 70%; margin-top: 2%" ion-text color=light text-uppercase>{{shop.name}}</p>
        </ion-col>
      </ion-row>
      <ion-row text-center class="items-list">
        <ion-col col-1>
          <ion-icon name="trash"></ion-icon>
        </ion-col>
        <ion-col col-1 style="padding-right: 0; padding-left: 0">
          Nº
        </ion-col>
        <ion-col col-2 style="padding-right: 0; padding-left: 0">
          FRETE
        </ion-col>
        <ion-col col-5 style="padding-right: 0; padding-left: 0">
          DESCRIÇÃO DO ITEM
        </ion-col>
        <ion-col col-3 style="padding-right: 0; padding-left: 0">
          SUBTOTAL
        </ion-col>
      </ion-row>
      <ion-row text-center class="items-list" *ngFor="let item of shop.items">
        <ion-col col-1 (tap)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-col>
        <ion-col col-1 style="padding-right: 0; padding-left: 0">
          1
        </ion-col>
        <ion-col col-2 style="padding-right: 0; padding-left: 0" (tap)="changeShip(item)">
          <ion-icon [color]=item.frete name="bus"></ion-icon>
        </ion-col>
        <ion-col col-5 style="padding-right: 0; padding-left: 0">
          {{item.description}}
        </ion-col>
        <ion-col col-3 style="padding-right: 0; padding-left: 0">
          R$ {{item.value}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-4 col-5 style="padding-right: 0; padding-left: 0">
          Frete
        </ion-col>
        <ion-col col-3 style="padding-right: 0; padding-left: 0">
          R$ 10
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <h2 style="font-weight: bold;" margin-vertical ion-text text-center color=blue-payplug>R$ 229,00</h2>
      </ion-col>
      <ion-col col-6>
        <button ion-button block outline color=blue-payplug>PAGAR</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <footer></footer>
</ion-footer>
