page-card-management {
    .large-button {
        height: 5.8em;
        white-space:normal
    }

    .card-attributes {
        font-size: 1.3rem;
    }

    .my-subheader {
        background: #d9dade;
    }
}
