<ion-header class="pay-merchan">
  <ion-navbar transparent>
    <ion-buttons>
      <button ion-button icon-only (click)="open('MenuPage')">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <h2 ion-text color="light">Olá, {{firstName}}</h2>
    </ion-title>
    <ion-buttons end>

      <button color=light ion-button small icon-only outline (click)="open('MessagesPage')">
        <ion-icon name="text"></ion-icon>
      </button>
      <button color=light ion-button small icon-only outline (click)="open('CartPage')">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col no-padding col-3 text-center>
        <button ion-button [clear]=true icon-only block>
          <img src="assets/imgs/utilities/icones_qrcode.svg" width="40">
        </button>
        <label for="" ion-text color=light>QR CODE</label>
      </ion-col>
      <ion-col no-padding col-3 text-center>
        <button ion-button [clear]=true icon-only block (click)="open('PaymentAuthorizationPage')">
          <img src="assets/imgs/menu-pagar.png" width="40">
        </button>
        <label for="" ion-text color=light>PAGAR</label>
      </ion-col>
      <ion-col no-padding col-3 text-center>
        <button ion-button [clear]=true icon-only block (click)="open('BillingPage')">
          <img src="assets/imgs/menu-cobrar.png" width="40">
        </button>
        <label for="" ion-text color=light>COBRAR</label>
      </ion-col>
      <ion-col no-padding col-3 text-center>
        <button ion-button [clear]=true icon-only block (click)="open('WalletPage')">
          <img src="assets/imgs/menu-carteira.png" width="40">
        </button>
        <label for="" text-nowrap ion-text color=light>CARTEIRA</label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar transparent>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="heart"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showOffers()">
        <ion-icon name="flash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="myInput" placeholder="PESQUISE LOJAS, CUPONS E DESCONTOS" [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="!showOffersVar" #map id="map"></div>

  <offers *ngIf="showOffersVar"></offers>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
