page-home {
  .pay-merchan {
    position: relative;
    background: url('../assets/imgs/time/dia.svg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  #map {
    height: 100%;
  }
  $grid-columns: 15;
}
