page-home {

    

      .pay-maps {
        background: url("../assets/imgs/maps.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      .pay-merchan {
        background: url("../assets/imgs/viapar.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% top;
        background-attachment: fixed;
      }

      .subheader-user {
        background: color($colors, blue-payplug, base);
      }

      .home-label {
        font-size: 0.8rem;
      }
}
