<ion-navbar no-padding>
  <ion-buttons center>

    <ion-grid no-padding>
      <ion-row>
        <button clear color=dark icon-left ion-button small full (click)="open('UtilitiesPage')">
          <ion-icon name="arrow-up"></ion-icon>TODOS OS UTILITÁRIOS</button>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-auto text-center>
          <button clear ion-button icon-only block>
            <img src="assets/imgs/utilities/icones_utilitario-bradesco.svg" width="40">
          </button>
        </ion-col>
        <ion-col col-auto text-center>
          <button clear ion-button icon-only block>
            <img src="assets/imgs/utilities/icones_utilitario-uber.svg" width="40">
          </button>
        </ion-col>

        <ion-col col-auto text-center>
          <button clear ion-button icon-only block>
            <img src="assets/imgs/utilities/icones_utilitario-outback.svg" width="40">
          </button>
        </ion-col>

        <ion-col col-auto text-center>
          <button clear ion-button icon-only block>
            <img src="assets/imgs/utilities/icones_utilitario-subway.svg" width="40">
          </button>
        </ion-col>

        <ion-col col-auto text-center>
          <button clear ion-button icon-only block>
            <img src="assets/imgs/utilities/icones_utilitario-imax.svg" width="40">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-buttons>
</ion-navbar>
