<ion-header>
  <ion-navbar color=blue-payplug>
    <ion-title>
      <h2 ion-text color="light">Olá, {{firstName}}</h2>
    </ion-title>
    <ion-buttons end>
      <button color=light ion-button small icon-only outline (click)="open('MessagesPage')">
        <ion-icon name="text"></ion-icon>
      </button>
      <button color=light ion-button small icon-only outline (click)="open('CartPage')">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid class="my-subheader">
    <ion-row>
      <ion-col text-center text-uppercase>
        <p no-margin ion-text color=gray-payplug-3>LIKES</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center *ngIf="!likes">
    <p style="font-size: 70%">VOCÊ AINDA NÃO CURTIU NENHUMA OFERTA.
      <br> APERTE O ÍCONE DO CORAÇÃO NAS OFERTAS
      <br> PARA RECEBER INFORMAÇÕES DA LOJA DA OFERTA
      <br> E DE OPORTUNIDADES SIMILARES
    </p>
    <ion-icon name="heart" color=danger></ion-icon>
  </div>
  <ion-grid *ngIf="likes" no-padding>
    <p text-center style="font-size: 70%">OFERTAS QUE VOCÊ CURTIU.</p>

    <ion-searchbar no-padding placeholder="PESQUISE OS SEUS LIKES" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>


  </ion-grid>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
